</div>
<p></p>
<div class="footer" style="background-color:#EAF2F8 ; padding:20px;">
    <div class="footer-inner">
        <div class="footer-content">
            <center> Easyflex<i class="fas fa-trademark" style ="color:orange"></i> 
                <span class="action-buttons">
                    <a href="">
                        <i class="fab fa-twitter-square"></i>
                    </a>

                    <a href="">
                        <i class="fab fa-facebook-square"></i>
                    </a>

                    <a href="">
                        <i class="fas fa-rss-square"></i>
                    </a>
                
                </span>
            </center>
        </div>
    </div>
</div>
</body>

</html>