<nav class="navbar navbar-expand-sm navbar-custom">
    <a href="../home" class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse">
        <i class="fa fa-bars fa-lg py-1 text-white"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Sale Orders
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../orders/sorder">New Sale Order</a>
                    <a class="dropdown-item" href="../orders/pendingso">Pending Sale Orders</a>
                    <a class="dropdown-item" href="../orders/allsaleorder">All Sale Orders</a>
                    <a class="dropdown-item" href="../orders/totalorders">Sale Order History</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Inventory
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../srrstock/addstock">Add New Stock</a>
                    <a class="dropdown-item" href="../srrstock/viewstock">Current Stock</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Material Requirement
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../rejsareq">REJ Single Arch</a>
                    <a class="dropdown-item" href="../rejdareq">REJ Double Arch</a>
                    <a class="dropdown-item" href="../rejhwreq">REJ Hand Wrap</a>
                    <a class="dropdown-item" href="../srrreq">Split Retaining Ring</a>
                    <a class="dropdown-item" href="../cureq">Control Unit</a>
                    <a class="dropdown-item" href="../trreq">Tie Rod</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../company/new">Add New Company</a>
                    <a class="dropdown-item" href="../company/all">All Companies</a>
                    <a class="dropdown-item" href="#">Reports</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Sale Order</a>
                    <a class="dropdown-item" href="#">Inventory Consumption</a>
                    <a class="dropdown-item" href="#">Customer Specific</a>
                </div>
            </li>

        </ul>
        <span class="ml-auto navbar-text"></span>
    </div>
</nav>